<div class="vehicle-description">
    <div class="form-group">
        <label>Description</label>
        <div class="editor-wrapper">
            {{editor data.system.narrative.description target="system.narrative.description" button=true owner=owner editable=editable}}
        </div>
    </div>

    <div class="form-group">
        <label>Notes</label>
        <div class="editor-wrapper">
            {{editor data.system.narrative.notes target="system.narrative.notes" button=true owner=owner editable=editable}}
        </div>
    </div>
</div>
