<li class="item peculiarity flexcol" data-item-id="{{peculiarity.id}}">
    <ul class="item-header peculiarity-controls">
        <li class="item-img"><img src="{{peculiarity.img}}" title="{{peculiarity.name}}" width="32px" height="32px"/></li>
        <li class="item-name gfl5r-tooltip" data-item-id="{{peculiarity.id}}">{{peculiarity.name}}</li>
        {{#if editable}}
            <li data-item-id="{{peculiarity.id}}" class="item-control item-edit" title="{{localize 'gfl5r.global.edit'}}"><i class="fas fa-edit"></i></li>
            <li data-item-id="{{peculiarity.id}}" class="item-control item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></li>
        {{/if}}
    </ul>
    {{#if peculiarity.system.narrative_type}}
    <ul class="item-properties">
        <li>{{peculiarity.system.narrative_type}}</li>
    </ul>
    {{/if}}
</li>