<ul class="approaches">
    <li id="power" class="approach-card">
        <div class="approach-card__header">
            <i class="i_power dice-picker rollable" data-approach="power"></i>
            <span class="approach-card__title {{#ifCond 'power' '==' data.system.stance}}stance-active{{/ifCond}}">{{localize 'gfl5r.approaches.power'}}</span>
        </div>
        <div class="approach-card__body">
            {{#if data.editable}}<button type="button" class="approach-card__btn approach-rank-control" data-approach="power" data-mod="-1">−</button>{{/if}}
            <input class="approach-card__value centered-input select-on-focus" type="number" name="system.approaches.power" value="{{data.system.approaches.power}}" data-dtype="Number" min="1" max="9" placeholder="0" {{^if data.editable}}disabled{{/if}}/>
            {{#if data.editable}}<button type="button" class="approach-card__btn approach-rank-control" data-approach="power" data-mod="1">+</button>{{/if}}
        </div>
    </li>
    <li id="precision" class="approach-card">
        <div class="approach-card__header">
            <i class="i_precision dice-picker rollable" data-approach="precision"></i>
            <span class="approach-card__title {{#ifCond 'precision' '==' data.system.stance}}stance-active{{/ifCond}}">{{localize 'gfl5r.approaches.precision'}}</span>
        </div>
        <div class="approach-card__body">
            {{#if data.editable}}<button type="button" class="approach-card__btn approach-rank-control" data-approach="precision" data-mod="-1">−</button>{{/if}}
            <input class="approach-card__value centered-input select-on-focus" type="number" name="system.approaches.precision" value="{{data.system.approaches.precision}}" data-dtype="Number" min="1" max="9" placeholder="0" {{^if data.editable}}disabled{{/if}}/>
            {{#if data.editable}}<button type="button" class="approach-card__btn approach-rank-control" data-approach="precision" data-mod="1">+</button>{{/if}}
        </div>
    </li>
    <li id="swiftness" class="approach-card">
        <div class="approach-card__header">
            <i class="i_swiftness dice-picker rollable" data-approach="swiftness"></i>
            <span class="approach-card__title {{#ifCond 'swiftness' '==' data.system.stance}}stance-active{{/ifCond}}">{{localize 'gfl5r.approaches.swiftness'}}</span>
        </div>
        <div class="approach-card__body">
            {{#if data.editable}}<button type="button" class="approach-card__btn approach-rank-control" data-approach="swiftness" data-mod="-1">−</button>{{/if}}
            <input class="approach-card__value centered-input select-on-focus" type="number" name="system.approaches.swiftness" value="{{data.system.approaches.swiftness}}" data-dtype="Number" min="1" max="9" placeholder="0" {{^if data.editable}}disabled{{/if}}/>
            {{#if data.editable}}<button type="button" class="approach-card__btn approach-rank-control" data-approach="swiftness" data-mod="1">+</button>{{/if}}
        </div>
    </li>
    <li id="resilience" class="approach-card">
        <div class="approach-card__header">
            <i class="i_resilience dice-picker rollable" data-approach="resilience"></i>
            <span class="approach-card__title {{#ifCond 'resilience' '==' data.system.stance}}stance-active{{/ifCond}}">{{localize 'gfl5r.approaches.resilience'}}</span>
        </div>
        <div class="approach-card__body">
            {{#if data.editable}}<button type="button" class="approach-card__btn approach-rank-control" data-approach="resilience" data-mod="-1">−</button>{{/if}}
            <input class="approach-card__value centered-input select-on-focus" type="number" name="system.approaches.resilience" value="{{data.system.approaches.resilience}}" data-dtype="Number" min="1" max="9" placeholder="0" {{^if data.editable}}disabled{{/if}}/>
            {{#if data.editable}}<button type="button" class="approach-card__btn approach-rank-control" data-approach="resilience" data-mod="1">+</button>{{/if}}
        </div>
    </li>
    <li id="fortune" class="approach-card">
        <div class="approach-card__header">
            <i class="i_fortune dice-picker rollable" data-approach="fortune"></i>
            <span class="approach-card__title {{#ifCond 'fortune' '==' data.system.stance}}stance-active{{/ifCond}}">{{localize 'gfl5r.approaches.fortune'}}</span>
        </div>
        <div class="approach-card__body">
            {{#if data.editable}}<button type="button" class="approach-card__btn approach-rank-control" data-approach="fortune" data-mod="-1">−</button>{{/if}}
            <input class="approach-card__value centered-input select-on-focus" type="number" name="system.approaches.fortune" value="{{data.system.approaches.fortune}}" data-dtype="Number" min="1" max="9" placeholder="0" {{^if data.editable}}disabled{{/if}}/>
            {{#if data.editable}}<button type="button" class="approach-card__btn approach-rank-control" data-approach="fortune" data-mod="1">+</button>{{/if}}
        </div>
    </li>
</ul>
