<div class="identity-fields">
    {{#ifCond actor.type '==' 'human'}}
    <div class="identity-field">
        <span class="identity-field__label">{{localize 'gfl5r.identity.nationality'}}</span>
        <select name="system.identity.nationality" {{^if data.editable}}disabled{{/if}}>
            <option value=""></option>
            {{#each data.identityOptions.nationalities}}
            <option value="{{this.key}}" {{#ifCond ../data.system.identity.nationality '==' this.key}}selected{{/ifCond}}>{{this.label}}</option>
            {{/each}}
        </select>
    </div>
    <div class="identity-field">
        <span class="identity-field__label">{{localize 'gfl5r.identity.background'}}</span>
        <select name="system.identity.background" {{^if data.editable}}disabled{{/if}}>
            <option value=""></option>
            {{#each data.identityOptions.backgrounds}}
            <option value="{{this.key}}" {{#ifCond ../data.system.identity.background '==' this.key}}selected{{/ifCond}}>{{this.label}}</option>
            {{/each}}
        </select>
    </div>
    <div class="identity-field">
        <label class="identity-field__checkbox">
            <input type="checkbox" name="system.identity.is_transhuman" {{#if data.system.identity.is_transhuman}}checked{{/if}} {{^if data.editable}}disabled{{/if}}/>
            <span>{{localize 'gfl5r.identity.transhuman'}}</span>
        </label>
    </div>
    {{/ifCond}}

    {{#ifCond actor.type '==' 'doll'}}
    <div class="identity-field">
        <span class="identity-field__label">{{localize 'gfl5r.identity.frame'}}</span>
        <select name="system.identity.frame" {{^if data.editable}}disabled{{/if}}>
            <option value=""></option>
            {{#each data.identityOptions.frames}}
            <option value="{{this.key}}" {{#ifCond ../data.system.identity.frame '==' this.key}}selected{{/ifCond}}>{{this.manufacturer}} {{this.model}}</option>
            {{/each}}
        </select>
    </div>
    <div class="identity-field">
        <span class="identity-field__label">{{localize 'gfl5r.identity.manufacturer'}}</span>
        <input type="text" name="system.identity.manufacturer" value="{{data.system.identity.manufacturer}}" {{^if data.editable}}disabled{{/if}}/>
    </div>
    <div class="identity-field">
        <span class="identity-field__label">{{localize 'gfl5r.identity.model'}}</span>
        <input type="text" name="system.identity.model" value="{{data.system.identity.model}}" {{^if data.editable}}disabled{{/if}}/>
    </div>
    <div class="identity-field">
        <span class="identity-field__label">{{localize 'gfl5r.identity.name_origin'}}</span>
        <select name="system.identity.name_origin" {{^if data.editable}}disabled{{/if}}>
            <option value="human" {{#ifCond data.system.identity.name_origin '==' 'human'}}selected{{/ifCond}}>{{localize 'gfl5r.identity.name_origin_human'}}</option>
            <option value="callsign" {{#ifCond data.system.identity.name_origin '==' 'callsign'}}selected{{/ifCond}}>{{localize 'gfl5r.identity.name_origin_callsign'}}</option>
            <option value="weapon" {{#ifCond data.system.identity.name_origin '==' 'weapon'}}selected{{/ifCond}}>{{localize 'gfl5r.identity.name_origin_weapon'}}</option>
            <option value="weird" {{#ifCond data.system.identity.name_origin '==' 'weird'}}selected{{/ifCond}}>{{localize 'gfl5r.identity.name_origin_weird'}}</option>
        </select>
    </div>
    {{/ifCond}}
</div>