<ul class="identity-list">
    {{!-- Npc Type (minion / adversary) --}}
    <li>
        <select class="attribute-dtype" name="system.type" {{^if data.editable}}disabled{{/if}}>
            {{selectOptions data.types selected=data.system.type valueAttr='id' labelAttr='label'}}
        </select>
    </li>
    {{!-- Martial --}}
    <li>
        <i class="i_bushi" title="{{localize 'gfl5r.social.npc.combat'}}"></i>
        <input class="centered-input select-on-focus" type="number" name="system.threat_level" value="{{data.system.threat_level}}" data-dtype="Number" min="0" placeholder="0" {{^if data.editable}}disabled{{/if}}/>
    </li>
    {{!-- Social --}}
    <li>
        <i class="i_courtier" title="{{localize 'gfl5r.social.npc.intrigue'}}"></i>
        <input class="centered-input select-on-focus" type="number" name="system.threat_level" value="{{data.system.threat_level}}" data-dtype="Number" min="0" placeholder="0" {{^if data.editable}}disabled{{/if}}/>
    </li>
</ul>