<ul class="social-content">
    <li>
        <label class="attribute-label centered-input">
            <strong>{{localize 'gfl5r.social.humanity'}}</strong>
            <span class="increment-control humanity">
                <i class="addsub-control pointer-choice fa fa-plus-square" data-type="humanity" data-value="1"></i>
                <i class="addsub-control pointer-choice fa fa-minus-square" data-type="humanity" data-value="-1"></i>
            </span>
            <input class="centered-input select-on-focus" type="number" name="system.social.humanity" value="{{data.system.social.humanity}}" data-dtype="Number" placeholder="0" {{^if data.editable}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label centered-input">
            <strong>{{localize 'gfl5r.social.fame'}}</strong>
            <span class="increment-control fame">
                <i class="addsub-control pointer-choice fa fa-plus-square" data-type="fame" data-value="1"></i>
                <i class="addsub-control pointer-choice fa fa-minus-square" data-type="fame" data-value="-1"></i>
            </span>
            <input class="centered-input select-on-focus" type="number" name="system.social.fame" value="{{data.system.social.fame}}" data-dtype="Number" placeholder="0" {{^if data.editable}}disabled{{/if}}/>
        </label>
    </li>
    <li>
        <label class="attribute-label centered-input">
            <strong>{{localize 'gfl5r.social.status'}}</strong>
            <span class="increment-control status">
                <i class="addsub-control pointer-choice fa fa-plus-square" data-type="status" data-value="1"></i>
                <i class="addsub-control pointer-choice fa fa-minus-square" data-type="status" data-value="-1"></i>
            </span>
            <input class="centered-input select-on-focus" type="number" name="system.social.status" value="{{data.system.social.status}}" data-dtype="Number" placeholder="0" {{^if data.editable}}disabled{{/if}}/>
        </label>
    </li>
    <li class="affinities">
        {{!-- Attitude --}}
        <label class="attitude">
            <input type="text" name="system.attitude" value="{{data.system.attitude}}" data-dtype="String" placeholder="" {{^if data.editable}}disabled{{/if}}/>
            {{localize 'gfl5r.social.attitude'}}
        </label>
        {{!-- Strength & Weakness --}}
        {{#each data.stances as |stance|}}
            <label class="approach">
                <i class="i_{{stance}}" title="{{localizeApproach stance}}"></i>
                <input class="centered-input select-on-focus" type="number" name="system.approach_affinities.{{stance}}" value="{{lookup ../data.system.approach_affinities stance}}" data-dtype="Number" min="-9" max="9" placeholder="0" {{^if ../data.editable}}disabled{{/if}}/>
            </label>
        {{/each}}
    </li>
</ul>