<div class="npc-summary">
    {{!-- Discipline Perks & Capstones --}}
    <details class="gfl-panel npc-summary__section" open>
        <summary class="gfl-panel__header">
            <span class="gfl-panel__label">{{localize 'gfl5r.disciplines.perk'}} / {{localize 'gfl5r.disciplines.capstone'}}</span>
        </summary>
        <div class="gfl-panel__body">
            <ul class="item-list">
                {{#each data.summaryPerksCapstones as |item|}}
                    {{> 'systems/gfl5r/templates/items/technique/technique-entry.html' technique=item editable=../data.editable}}
                {{/each}}
            </ul>
        </div>
    </details>

    {{!-- Techniques --}}
    <details class="gfl-panel npc-summary__section" open>
        <summary class="gfl-panel__header">
            <span class="gfl-panel__label">{{localize 'gfl5r.techniques.title'}}</span>
        </summary>
        <div class="gfl-panel__body">
            <ul class="item-list">
                {{#each data.summaryTechniques as |item|}}
                    {{> 'systems/gfl5r/templates/items/technique/technique-entry.html' technique=item editable=../data.editable}}
                {{/each}}
            </ul>
        </div>
    </details>

    {{!-- Weapons --}}
    <details class="gfl-panel npc-summary__section" open>
        <summary class="gfl-panel__header">
            <span class="gfl-panel__label">{{localize 'gfl5r.weapons.title'}}</span>
        </summary>
        <div class="gfl-panel__body">
            <ul class="item-list">
                {{#each data.summaryWeapons as |item|}}
                    {{> 'systems/gfl5r/templates/items/weapon/weapon-entry.html' weapon=item id=item._id editable=../data.editable}}
                {{/each}}
            </ul>
        </div>
    </details>

    {{!-- Advantages --}}
    <details class="gfl-panel npc-summary__section">
        <summary class="gfl-panel__header">
            <span class="gfl-panel__label">{{localize 'gfl5r.narrative.advantage'}}</span>
        </summary>
        <div class="gfl-panel__body">
            <ul class="item-list">
                {{#each data.summaryAdvantages as |item|}}
                    {{> 'systems/gfl5r/templates/items/peculiarity/peculiarity-entry.html' peculiarity=item id=item._id editable=../data.editable}}
                {{/each}}
            </ul>
        </div>
    </details>

    {{!-- Disadvantages --}}
    <details class="gfl-panel npc-summary__section">
        <summary class="gfl-panel__header">
            <span class="gfl-panel__label">{{localize 'gfl5r.narrative.disadvantage'}}</span>
        </summary>
        <div class="gfl-panel__body">
            <ul class="item-list">
                {{#each data.summaryDisadvantages as |item|}}
                    {{> 'systems/gfl5r/templates/items/peculiarity/peculiarity-entry.html' peculiarity=item id=item._id editable=../data.editable}}
                {{/each}}
            </ul>
        </div>
    </details>

    {{!-- Passions --}}
    <details class="gfl-panel npc-summary__section">
        <summary class="gfl-panel__header">
            <span class="gfl-panel__label">{{localize 'gfl5r.narrative.passion'}}</span>
        </summary>
        <div class="gfl-panel__body">
            <ul class="item-list">
                {{#each data.summaryPassions as |item|}}
                    {{> 'systems/gfl5r/templates/items/peculiarity/peculiarity-entry.html' peculiarity=item id=item._id editable=../data.editable}}
                {{/each}}
            </ul>
        </div>
    </details>

    {{!-- Anxieties --}}
    <details class="gfl-panel npc-summary__section">
        <summary class="gfl-panel__header">
            <span class="gfl-panel__label">{{localize 'gfl5r.narrative.anxiety'}}</span>
        </summary>
        <div class="gfl-panel__body">
            <ul class="item-list">
                {{#each data.summaryAnxieties as |item|}}
                    {{> 'systems/gfl5r/templates/items/peculiarity/peculiarity-entry.html' peculiarity=item id=item._id editable=../data.editable}}
                {{/each}}
            </ul>
        </div>
    </details>
</div>
