<section class="gfl5r sidebar-info">
    <h4 class="divider">{{localize 'WORLD.FIELDS.system.label'}}</h4>
    <div class="gfl5r system-badge">
        <img src="" data-tooltip="{{localize 'gfl5r.title'}}" alt="{{localize 'gfl5r.title'}}">
        <span class="system-info">{{SystemVersion}}</span>
    </div>
    <ul class="unlist links">
        <li>
            <a href="{{localize 'gfl5r.logo.notes.link'}}" target="_blank">
            {{localize 'gfl5r.logo.notes.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'gfl5r.logo.issues.link'}}" target="_blank">
                {{localize 'gfl5r.logo.issues.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'gfl5r.logo.wiki.link'}}" target="_blank">
                {{localize 'gfl5r.logo.wiki.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'gfl5r.logo.custom-compendiums.link'}}" target="_blank">
            {{localize 'gfl5r.logo.custom-compendiums.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'gfl5r.logo.discord.link'}}" target="_blank" title="{{localize 'gfl5r.logo.discord.info'}}">
            {{localize 'gfl5r.logo.discord.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'gfl5r.logo.drivethrurpg.link'}}" target="_blank" title="{{localize 'gfl5r.logo.drivethrurpg.info"'}}">
            {{localize 'gfl5r.logo.drivethrurpg.title'}}
            </a>
        </li>
        <li>
            <a href="{{localize 'gfl5r.logo.edge.link'}}" target="_blank" title="{{localize 'gfl5r.logo.edge.info'}}">
            {{localize 'gfl5r.logo.edge.title'}}
            </a>
        </li>
    </ul>
</section>